venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
node_modules

server/images/profile_pictures/*.jpg
server/private_config.yaml
.vscode/settings.json
.vscode/settings.json