<html>
  <head>
    <title>
      {% block header %}
        {% block title %} Register {% endblock %}
      {% endblock %}

    </title>
    <link rel="stylesheet", href={{url_for('static', filename='register.css')}}>
  </head>

  <body>
    {% block content %}
      <!-- An important thing to note about forms is that the POST request will
      be sent back to the same route that rendered the HTML for the form -->
      <form method="post">
        <label for="username">Username</label>
        <input name="username" id="username" required>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>

        <input type="submit" value="Register">
      </form>
    {% endblock %}
  </body>

</html>