<html>
  <head>
    <title>
      {% block header %}
        {% block title %} Register {% endblock %}
      {% endblock %}

    </title>
    <link rel="stylesheet", href={{url_for('static', filename='register.css')}}>
  </head>

  <body>
    {% block content %}
      <!-- An important thing to note about forms is that the POST request will
      be sent back to the same route that rendered the HTML for the form -->
      <form method="post">
        {{ form.hidden_tag() }}

        {{ form.username.label }}
        {{ form.username }}

        {{ form.password.label }}
        {{ form.password }}

        {{ form.submit }}
      </form>
    {% endblock %}
  </body>

</html>