{% extends 'base.html' %}

{% block header %}
  <h1>
    {% block title %} Portfolio {% endblock %}
  </h1>
{% endblock %}

{% block content %}
  <h1> Supported Providers </h1>
  <ul>
    {% for provider in supported_providers %}
      <li>
          <!-- The anchor tag's link is pointing to the URL for the provider_porfolio
          route in the portfolio_bp blueprint and we're passing in all the parameters
          that are expected by that API

          The jinja expression will be evaluated and rendered into the HTML page before
          the page returns to the browser
          -->
          <a href="{{ url_for('portfolio_bp.provider_portfolio', provider=provider) }}">
            {{provider}}
          </a>
      </li>
    {% endfor %}
  </ul>

{% endblock %}